.Home {
  &-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 500px;
    padding: 32px 65px;
    background: #ffffff;
    box-shadow: 4px 4px 25px 4px rgba(154, 202, 245, 0.25);
    border-radius: 16px;
    margin-bottom: 20px;
  }
  &-title {
    font-size: 36px;
    font-weight: 700;
    color: #000;
    margin-bottom: 32px;
  }
  &-top {
    margin-bottom: 27px;
    p {
      font-size: 18px;
      font-weight: 600;
      color: #1e0d03;
    }
  }
  &-bottom {
    margin: 40px 0;
    p {
      font-size: 14px;
      font-weight: 500;
      color: #1e0d03;
      opacity: 0.5;
    }
    h3 {
      font-size: 24px;
      font-weight: 700;
      color: #1e0d03;
      span {
        font-size: 14px;
        font-weight: 500;
      }
    }
  }
  .ChartDonut {
    display: flex;
    &-wrapper {
      width: 100%;
      p {
        font-size: 18px;
        font-weight: 600;
        margin-left: 70px;
      }
    }
  }
}
