.UiInputField {
  display: flex;
  align-items: center;
  &-title {
    max-width: 158px;
    width: 100%;
    font-size: 16px;
    font-weight: 700;
    color: #373839;
  }
  &-input {
    width: 100%;
    background: #ffffff;
    border: 1px solid rgba(55, 56, 57, 0.5);
    border-radius: 8px;
    font-size: 16px;
    padding: 10px 16px;
    &:focus {
      outline: none;
    }
  }
}
