.paginations {
  margin-top: 40px;
  &__info {
    span {
      padding: 5px 20px;
      border: 1px solid #ff7506;
      border-radius: 4px;
    }
  }
  &__pages {
    display: flex;
    justify-content: center;
    align-items: center;
    --size: 8px;
    display: flex;
    align-items: center;
    ul {
      list-style-type: none;
      display: flex;
      align-items: center;
      padding: 0;
      margin: 0;
      li {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 8px;
        &.disabled {
          pointer-events: none;
          opacity: 1;
        }
      }
    }
    img {
      width: var(--size);
      height: var(--size);
    }
    a {
      font-weight: 400;
      font-size: 13px;
      &.is-active {
        font-weight: 500;
      }
    }
    [class^="btn"] {
      padding: 20px 20px;
      cursor: pointer;
    }
    .btn-next {
      img {
        transform: rotate(180deg);
      }
    }
    .btn-back.--to-end {
      transform: rotate(180deg);
    }
    .pages {
      span {
        padding: 10px;
        color: #000;
      }
      a {
        height: 31px;
        width: 31px;
        display: flex;
        justify-content: center;
        align-items: center;
        color: #373839;
        transition: 0.3s;
        font-size: 14px;
        font-weight: 500;
        text-decoration: none;
        &.is-active,
        &:hover {
          color: #ff993c;
          border: 1px solid #ff993c;
          border-radius: 50px;
          border-radius: 4px;
        }
      }
    }
  }
}
